.header li {
    float: left;
    display: inline;
    list-style-type: none;
    padding-right: 30px;
}

.header {
    background: rgba(0, 0, 0, 0.7);

    width: 100%;
    text-align: center;
    height: 60px;

}

.header li a {
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.header li a:hover {
    color: red;
}

.header nav {
    margin: 0;
    padding: 0;
    float: right;
    text-align: center;
}